* {
	background-image:url(https://d1csarkz8obe9u.cloudfront.net/posterpreviews/business-zoom-virtual-background-design-template-c3e74e89c79d4e8d5174a67df1fb749d_screen.jpg?ts=1586361388);
	background-size:cover;
	background-attachment: fixed;
}
.body1 {

}
.header1 {
	text-align: left;
}
.img1 {
	height: 120px;
	width: 170px;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}
nav {
	text-align: right;
	font-size: 35px;
	font-weight: bold;
}
.a1 {
	padding-left: 60px;
	padding-right: 60px;
	color: orange;
	margin: 5px;
}
selection {
	border-top-style: solid;
	border-width: 3px;
	border-color: #A025FF;
}
.h2a {
	text-align: center;
	color: black;
	font-family: Comic Sans;
	font-size: 50px;
}
.article1 {
	text-align: center;
	font-size: 25px;
}
.p1 {
	text-align: center;
	color: cornflowerblue;
	margin-left: 40px;
	margin-right: 40px;
	font-family: Comic Sans;
	font-size: 30px;
}
.aside1 {
	margin-left: 75%;
	width: 400px;
	color: #182070;
}
.footer1 {
	text-align: center;
	border-top-style: solid;
	border-color: #A025FF;
	border-width: 3px;
	margin-top: 100px
}
.form-center {
	float: center;
	display: flex;

}
legend {
	font-size: 30px;
}

input:invalid {
	box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
	box-shadow: none;
}
label {
	padding: 20px;
	display: flex;
}

fieldset {
	font-family: Algerian;
	margin: center;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	width: 500px;
	border-color: black;
	font-size: 20px;
}

input[type="submit"], [type="reset"] {
	border: input 3px input gray;
	outline: none;
	background: black;
	color: #fff;
	font-size: 15px;
	margin-left: 25%;
	margin-right: 50%;
	width: 100px;
	margin: 8px
}

	input[type="submit"]:hover {
		cursor: pointer;
		background: blue;
	}
input {
	font-family: Algerian;
	width: 400px;
	margin: 8px;
}
.img2 {
	height: 680px;
	width: 720px;
	padding-left: 100px;
}
.p2 {
	text-align: center;
}
.href1 {
	float: left;
}
.div1 {
	float: center;
	text-align: center;
}
.p3 {
	text-align: justify;
	font-size: 25px;
	font-familyL tahoma;
	padding-left: 100px;
	padding-right: 40px;
	color: #1D545A;
	display: flex;
}
h1 {
	text-shadow: 2px 1px;
	font-family: 'Agency FB';
	margin-right: 180px;
}
.div2 {
	margin-bottom: 80px;
}
.p4 {
	text-align: center;
	font-size: 40px;
	color: darkblue;
}
.p5 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 30px;
}
.img4 {
	height: 700px;
	width: 750px;
}
.video {
	width: 560px;
	height: 315px;
	margin-left: 50px;
}
  /* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}


